[Desktop Entry]
Name=BT Plugin
Exec=shareplugin
Icon=shareplugin-assets/icon.svg
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Lomiri-Single-Instance=true

